{
  "parser": "babel-eslint",
  "extends": ["google", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "indent": ["error", 4],
    "max-len": ["warn", 120],
    "no-multi-str": "error",
    "no-var": "error",
    "prefer-const": "error",
    "object-curly-spacing": 0,
    "no-underscore-dangle": "error",
    "quote-props": 0
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true,
    "node": true
  },
  "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      }
  }
}
