$main-red: #F53E3E;
$main-gray: #665E5D;
$success: #4DC845;

// maintenance page
$background: #FFFFC3;
$text: #000000;
$treeTrunk: #34201D;
$greenTree: #8ECC32;
$greenTreeOutline: #1D631C;
$yellowTree: #E8E232;
$yellowTreeOutline: #918D1F;
