@keyframes fadeIn {
    96%, 100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-160%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes bigHover {
    0% {
        opacity: 1;
        width: 90%;
    }

    100% {
        opacity: .8;
        width: 93%;
        height: 93%
    }
}

@keyframes slideDown {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 1;
        transform: scale(1.2);
    }
    50% {
        opacity: 1;
        transform: scale(.8);
    }
    75% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drawLine {
    0% {
        width: 0;
        margin-left: 100%;
    }
    100% {
        width: 100%;
        margin-left: 0%;
    }
}

@keyframes grow {
    0% {
        opacity: 1;
        height: 0;
        margin-top: 100%;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes dashGreen {
    to {
        stroke-dashoffset: 0;
        fill: $greenTree;
    }
}

@keyframes dashYeller {
    to {
        stroke-dashoffset: 0;
        fill: $yellowTree;
    }
}

@keyframes leafInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
